<% if @instrument.finished? %>
  <h1>Instrument Result</h1>
  <p>The result is: <%= @result %></p>
<% else %>
  <!-- Show the instrument form or other information here -->
<% end %>

<div class="container">
  <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
    Instrument Information
  </h1>
  <div class='card'>
    <div class="my-3 p-3">
      <dl class="row">
      <div class="col-md-4">
          <dt>Name</dt>
          <dd><%= @instrument.name %></dt>
          <% if @instrument.finished? %>
            <dt>Result</dt>
            <dd><%= @result %></dt>
        </div>
      </dl>
    </div>
  </div>
  <div class='card'>
    <div class="my-3 p-3">
      <dl class="row">
      <div class="col-md-4">
        <dt>Instruments Questions</dt>
        <dt> <%= link_to 'Apply new Instrument', new_evaluatee_assessment_path(@evaluatee), class: 'btn btn-primary' %> </dt>
        <dd>
          <ul>
            <% @instrument.questions.each do |question| %>
              <li><%= question.text %></li>
            <% end %>
          </ul>
        </div>
      </dl>
    </div>
  </div>
</div>
