<div class="container-fluid">
  <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
      <h1>Evaluatees</h1>
  </h1>
  <section>
    <div class="card">
      <div class="card-body">
        <%= link_to 'Create New Account', new_evaluatee_path, class: 'btn btn-primary' %>
        <table class="table table-hover">
          <thead>
            <th>Evaluatee Name</th>
            <th>Evaluatee Email</th>
            <th>Evaluatee CPF</th>
            <th>Evaluatee Birthdate</th>
            <th></th>
            </thead>
          <tbody>
            <% for evaluatee in @evaluatees do %>
              <tr>
                <td><%= link_to evaluatee.name, evaluatee_path(evaluatee) %></td>
                <td><%= evaluatee.email %></td>
                <td><%= evaluatee.cpf %></td>
                <td><%= evaluatee.birthdate %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </section>
</div>
